.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #20232a;
  padding: 1.5rem 2rem;
  color: #61dafb;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  ;
}

.main {
  flex: 1;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.loadingMessage,
.errorMessage {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
  padding: 40px 20px;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: #d32f2f;
}
.main h3{
  font-size: 2rem;
  color: #070707;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
}
.footer {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #20232a;
  color: #aaa;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #333;
}